.App {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 60px;
}

.error {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 28px 100px 28px 100px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border: 1px solid darkred;
  background-color: rgb(235, 162, 162);
}

.mr10{
  margin-right: 10px;
}

.filterLabel {
  margin-left: 10px;
  margin-right: 5px;
}

.filterInput {
  margin-right: 15px;
}

.filter {
  margin-bottom: 20px;
  margin-top: 20px;
}

.statisticTable{
  margin-bottom: 20px;
}

.positive {
  color: lightgreen;
}

.negative {
  color: red;
}

h3 {
  margin-top: 40px;
}

.label {
  margin-right: 5px;
}


